<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfCommunityToolkit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ChinookConnection" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=Chinook;Integrated Security=True" />
        <add name="WpfCommunityToolkit.Properties.Settings.ChinookConnection"
            connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=Chinook;Integrated Security=True" />
    </connectionStrings>
    <applicationSettings>
        <WpfCommunityToolkit.Properties.Settings>
            <setting name="LogPath" serializeAs="String">
                <value>C:\tmp\WpfCommunityToolkit.log</value>
            </setting>
        </WpfCommunityToolkit.Properties.Settings>
    </applicationSettings>
</configuration>